<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/registeration-form.css">
    <% if(loginForm === true) { %>
    <link rel="stylesheet" href="/css/login.css">
    <% } %>
    <% if (investorForm === true) { %>
    <link rel="stylesheet" href="/css/investor-form.css">
    <% } %> 
    <% if (startupForm === true) { %>
    <link rel="stylesheet" href="/css/startup-profile.css">
    <% } %> 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title><%= pageTitle %></title>
</head>
<body>